<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coq bench</title>
    <link rel="shortcut icon" type="image/png" href="../../../../../favicon.png" />

    <link href="../../../../../bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../../../../moment.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../../../.."><i class="fa fa-lg fa-flag-checkered"></i> Coq bench</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="../../.."><%= h(repository.capitalize) %></a></li>
              <li><a href="."><%= h("#{coq_version} / #{name} #{version}") %></a></li>
              <li class="active"><a href=""><%= h(time.strftime("%F %T")) %></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../../../../../about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="row">
          <div class="col-md-12">
            <a href=".">« Up</a>
            <h1>
              <%= h(name) %>
              <small>
                <%= h(version) %>
                <span class="label label-<%= result.status.css_class %>"><%= h(result.long_message) %></span>
              </small>
            </h1>
            <p><em><script>document.write(moment("<%= h(time.strftime("%F %T")) %> +0000", "YYYY-MM-DD HH:mm:ss Z").fromNow());</script> (<%= h(time.strftime("%F %T")) %> UTC)</em><p>

            <h2>Lint</h2>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.lint_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.lint_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.lint_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.lint_output) %></pre></dd>
            </dl>

            <h2>Dry install</h2>
            <p>Dry install with the current Coq version:</p>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.dry_with_coq_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.dry_with_coq_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.dry_with_coq_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.dry_with_coq_output) %></pre></dd>
            </dl>
            <p>Dry install without Coq, to test if the problem was incompatibility with the current Coq version:</p>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.dry_without_coq_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.dry_without_coq_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.dry_without_coq_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.dry_without_coq_output) %></pre></dd>
            </dl>

            <h2>Install dependencies</h2>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.deps_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.deps_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.deps_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.deps_output) %></pre></dd>
            </dl>

            <h2>Install</h2>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.package_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.package_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.package_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.package_output) %></pre></dd>
            </dl>

            <h2>Installation size</h2>
            <% if result.install_sizes then %>
              <% if result.install_sizes == [] then %>
            <p>No files were installed.</p>
              <% else %>
            <p>Total: <%= result.install_sizes.map {|x| x[1].to_i}.inject(:+).file_size %></p>
            <ul>
                <% for file_name_size in result.install_sizes.sort_by {|x| x[1].to_i}.reverse %>
              <li><%= h(file_name_size[1].to_i.file_size) %> <code><%= h(file_name_size[0]) %></code></li>
                <% end %>
            </ul>
              <% end %>
            <% else %>
            <p>Data not available in this bench.</p>
            <% end %>

            <h2>Uninstall</h2>
            <dl class="dl-horizontal">
              <dt>Command</dt>
              <dd><code><%= h(result.uninstall_command) %></code></dd>
              <dt>Return code</dt>
              <dd><%= h(result.uninstall_status) %></dd>
              <dt>Duration</dt>
              <dd><%= h(result.uninstall_duration.to_i.duration) %></dd>
              <dt>Output</dt>
              <dd><pre><%= h(result.uninstall_output) %></pre></dd>
              <dt>Missing removes</dt>
              <dd>
                <% if result.missing_removes == [] then %>
                none
                <% else %>
                <ul>
                  <% for file in result.missing_removes %>
                  <li><code><%= h(file) %></code></li>
                  <% end %>
                </ul>
                <% end %>
              </dd>
              <dt>Wrong removes</dt>
              <dd>
                <% if result.mistake_removes == [] then %>
                none
                <% else %>
                <ul>
                  <% for file in result.mistake_removes %>
                  <li><code><%= h(file) %></code></li>
                  <% end %>
                </ul>
                <% end %>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <hr/>
      <div class="footer">
        <p class="text-center">
          <small>Sources are on <a href="https://github.com/coq-bench">GitHub</a>. © Guillaume Claret.</small>
        </p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../../../../bootstrap.min.js"></script>
  </body>
</html>