<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coq bench</title>
    <link rel="shortcut icon" type="image/png" href="../../../../favicon.png" />

    <link href="../../../../bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="../../../.."><i class="fa fa-lg fa-flag-checkered"></i>  Coq bench</a>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="row">
          <div class="col-md-12">
            <h1><%= h(name) %> <small><%= h(version) %></small></h1>
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <% for bench in database.read_history(architecture, coq_version, repository, name, version) do %>
                <%
                  status =
                    case bench[1]
                    when "Success"
                      bench[2].to_i.duration
                    when "NotCompatible"
                      "Not compatible"
                    when "DepsError"
                      "Error in dependencies"
                    when "Error"
                      "Error"
                    else
                      raise "unknown status #{bench[1]}"
                    end
                %>
                <tr>
                  <td><%= h(bench[0].strftime("%Y-%m-%d")) %></td>
                  <td><%= h(bench[0].strftime("%T")) %></td>
                  <td class="<%= css_class_of_bench(bench) %>"><%= h(status) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr/>
      <div class="footer">
        <p class="text-center">
          <small>Sources are on <a href="https://github.com/coq-bench">GitHub</a>. © Guillaume Claret.</small>
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../../../bootstrap.min.js"></script>
  </body>
</html>